/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F7F2EA;
    font-family: Arial, sans-serif;
}


/* NAVBAR */

.navbar {
    width: 100%;
    height: 90px;
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8%;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}


/* LOGO */

.logo h1 {
    font-size: 35px;
    color: #1f1f1f;
    font-weight: 800;
}

.logo span {
    font-size: 12px;
    color: #8d8d8d;
}


/* MENU */

.menu {
    display: flex;
    list-style: none;
    gap: 35px;
}

.menu a {
    text-decoration: none;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    transition: .3s;
}

.menu a:hover {
    color: #F4AE19;
}


/* BOTÃO */

.nav-btn a {

    background: #8B5E3C;
    color: white;

    padding: 14px 30px;

    border-radius: 30px;

    text-decoration: none;

    font-weight: bold;

    transition: .4s;
}

.nav-btn a:hover {

    background: #F4AE19;
}

.nav-right {

    display: flex;
    align-items: center;
    gap: 25px;
}

.carrinho {

    position: relative;
    cursor: pointer;
}

.carrinho i {

    font-size: 35px;
    color: var(--marrom);
}

.carrinho span {

    position: absolute;

    top: -8px;
    right: -8px;

    width: 22px;
    height: 22px;

    border-radius: 50%;

    background: var(--laranja);

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-weight: bold;
}

.mensagem-carrinho {

    position: fixed;

    top: 30px;
    right: -350px;

    background: #8B5E3C;

    color: white;

    padding: 15px 25px;

    border-radius: 15px;

    display: flex;
    align-items: center;

    gap: 10px;

    z-index: 9999;

    transition: .5s;

    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
}

.mensagem-carrinho i {

    font-size: 22px;
}

.mensagem-carrinho.ativo {

    right: 30px;
}

.nav-right {

    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-btn {

    display: flex;
    gap: 15px;
}

.btn-login,
.btn-pedido {

    padding: 14px 28px;

    border-radius: 30px;

    font-weight: bold;

    transition: .3s;
}

.btn-login {

    border: 2px solid var(--marrom);

    color: var(--marrom);

    background: transparent;
}

.btn-login:hover {

    background: var(--marrom);

    color: white;
}

.btn-pedido {

    background: var(--marrom);

    color: white;
}

.btn-pedido:hover {

    background: var(--laranja);
}

/* MENU PEDIDO */

.modal-pedido {

    display: none;

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: rgba(0, 0, 0, .6);

    justify-content: center;

    align-items: center;

    z-index: 9999;
}

.modal-pedido-conteudo {

    background: white;

    width: 400px;

    max-width: 90%;

    padding: 30px;

    border-radius: 20px;

    text-align: center;

    position: relative;
}

.modal-pedido-conteudo h2 {

    margin-bottom: 25px;
}

.opcao-menu {

    display: block;

    margin-bottom: 15px;

    padding: 15px;

    border-radius: 12px;

    background: #f4ae19;

    color: white;

    font-weight: bold;

    transition: .3s;
}

.opcao-menu:hover {

    transform: translateY(-3px);
}

.fechar-modal {

    position: absolute;

    right: 15px;

    top: 10px;

    font-size: 30px;

    cursor: pointer;
}