/* PEDIDOS ADM */

.pedidos-admin {

    width: 90%;
    margin: 80px auto;
}

.pedidos-admin h1 {

    text-align: center;

    margin-bottom: 50px;

    color: var(--marrom);
}

.pedidos-grid {

    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(300px, 1fr));

    gap: 30px;
}

.pedido-card {

    background: white;

    padding: 25px;

    border-radius: 20px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

.pedido-card h2 {

    margin-bottom: 15px;

    color: var(--marrom);
}

.pedido-card p {

    margin-bottom: 10px;
}

.pedido-card select {

    width: 100%;

    padding: 12px;

    margin: 15px 0;

    border-radius: 10px;
}

.btn-status {

    width: 100%;

    padding: 12px;

    border: none;

    border-radius: 20px;

    background: var(--laranja);

    color: white;

    font-weight: bold;

    cursor: pointer;
}