/* SOBRE */

.sobre{

    width:90%;
    margin:100px auto;

    text-align:center;
}

.sobre h2{

    font-size:40px;
    margin-bottom:20px;

    color:var(--texto);
}

.sobre p{

    width:70%;

    margin:auto;

    line-height:1.8;

    color:#666;
}